:root {
  --clr-primary-hsl-500: 179, 62%, 43%;
  --clr-primary-hsl-600: 71, 73%, 54%;
  --clr-primary-hsl-700: 212, 45%, 94%;

  --clr-secondary-hsl-100: 0, 0%, 100%;
  --clr-secondary-hsl-200: 204, 43%, 93%;
  --clr-secondary-hsl-400: 218, 22%, 40%;

  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
  --clr-primary-500: hsl(var(--clr-primary-hsl-500));
  --clr-primary-600: hsl(var(--clr-primary-hsl-600));
  --clr-primary-700: hsl(var(--clr-primary-hsl-700));

  --clr-secondary-100: hsl(var(--clr-secondary-hsl-100));
  --clr-secondary-200: hsl(var(--clr-secondary-hsl-200));
  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));

  --ff-primary: "Karla", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: 1rem;
  --fs-200: 1.2rem;
  --fs-300: 1.35rem;

  --size-100: 0.5rem;
  --size-200: ;
  --size-300: 1rem;
  --size-400: 1.5rem;
  --size-500: ;
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/* General Styles */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  color: hsl(var(--clr-secondary-hsl-400), 0.75);
  background-color: var(--clr-primary-700);

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  margin-inline: var(--size-300);
  border-radius: var(--size-100);
  box-shadow: 0.5rem 1rem 5rem hsl(var(--clr-secondary-hsl-400), 0.3);
  max-width: 22rem;
}

.card {
  padding: var(--size-400);
  background: var(--clr-);
}

section > div:nth-child(1) {
  border-radius: var(--size-100) var(--size-100) 0 0;
}

section > div:nth-child(2) {
  color: var(--clr-secondary-100);
}

section > div:nth-child(3) {
  color: var(--clr-secondary-100);
  border-radius: 0 0 var(--size-100) var(--size-100);
}

.heading-1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  color: var(--clr-primary-500);
}

.heading-2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
}

.btn {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  color: var(--clr-secondary-200);
  background: var(--clr-primary-600);
  padding: var(--size-300);
  border-radius: var(--size-100);
  cursor: pointer;
  border: none;
  box-shadow: 0.3rem 0.5rem 2rem hsl(var(--clr-secondary-hsl-400), 0.5);
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
  opacity: 0.75;
  outline: none;
}

/* Utilities */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.gap {
  gap: var(--size-300, 1rem);
}

.align-center {
  text-align: center;
  margin-inline: auto;
}

.clr-bg-primary-500 {
  background: var(--clr-primary-500);
}

.clr-bg-primary-400 {
  background: hsl(var(--clr-primary-hsl-500), 0.8);
}

.clr-primary-600 {
  color: var(--clr-primary-600);
}

.clr-bg-secondary-100 {
  background: var(--clr-secondary-100);
}

.clr-secondary-hsl-100 {
  color: hsl(var(--clr-secondary-hsl-100), 0.65);
}

.line-height {
  line-height: 1.5;
}

.spacer {
  margin-top: 1rem;
}

.fs-400 {
  font-size: 2rem;
}

/* Big screen widths */
@media (min-width: 800px) {
  .container {
    max-width: 40rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "Join-communtiy Join-communtiy"
      "Monthly-subscription Why-us";
  }

  .card {
    padding: 2.1rem;
  }

  .heading-1 {
    font-size: 1.5rem;
  }

  section > div:nth-child(1) {
    grid-area: Join-communtiy;
  }

  section > div:nth-child(2) {
    border-radius: 0 0 0 var(--size-100);
    grid-area: Monthly-subscription;
  }

  section > div:nth-child(3) {
    border-radius: 0 0 var(--size-100) 0;
    grid-area: Why-us;
  }

  .btn {
    padding: 0.75rem;
  }
}
